<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared Expenses</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="app-container" id="app">
        <div class="item">
<!--            <h2 class="app-caption">Shared Expenses</h2>-->
            <div class="icon-container"></div>

            <!-- Form for adding participants -->
            <form method="POST" class="form-field">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="expense">Expense:</label>
                    <input type="text" id="expense" name="expense" required>
                </div>
                <button type="submit" name="add-participant">Add Participant</button>
            </form>
        </div>
        <!-- Block of actions buttons -->
        <div class="item">
            <form method="POST" class="action-buttons">
                <button type="submit" name="calculate">Calculate Expenses</button>
                <button type="submit" class="reset-all" name="reset-all">Reset All</button> <!-- Button to reset all data -->
            </form>
        </div>
        {% if participants %}
            <div class="item">
                <h4>Participants:</h4>
                <ul>
                    {% for participant in participants %}
                        <li>{{ participant.name }} - ${{ participant.expense }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if transactions is not none %}
            <div class="output">
                <span><strong>Total Expenses:  </strong>  <strong>${{ total_expense }}</strong></span>
                <span><strong>Fair Share:  </strong>  <strong>${{ fair_share }}</strong></span>
            </div>
            <div class="item">
                <h4>Transactions:</h4>
                <ul>
                    {% for transaction in transactions %}
                        <li>{{ transaction }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

  <script>
    function adjustWidth() {
      const app = document.getElementById('app');
      const screenWidth = window.innerWidth;

      if (screenWidth < 500) {
        app.style.width = `${screenWidth * 0.95}px`;  // 95% of screen width if screen less than 500px
      } else if (screenWidth >= 500 && screenWidth <= 1280) {
        app.style.width = `${screenWidth * 0.8}px`;   // 80% of screen width
      } else {
        app.style.width = `${screenWidth * 0.6}px`;   // 60% of screen width
      }
    }

    // Run the function on page load and on window resize
    window.onload = adjustWidth;
    window.onresize = adjustWidth;
  </script>

</body>
</html>