<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared Expenses</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="app-container" id="app">
<!--    <div >-->
        <div class="item">
            <h1>Shared Expenses</h1>

            <!-- Form for adding participants -->
            <form method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="expense">Expense:</label>
                    <input type="text" id="expense" name="expense" required>
                </div>
                <button type="submit" name="add_participant">Add Participant</button>
            </form>
        </div>
        <!-- Separate form for calculating expenses -->
        <div class="item">
            <form method="POST">
                <button type="submit" name="calculate">Calculate Expenses</button>
                <button type="submit" class="reset-all" name="reset-all">Reset All</button> <!-- Button to reset all data -->
            </form>
        </div>
        <br>
        {% if participants is not none %}
            <div class="item">
                <h3>Participants:</h3>
                <ul>
                    {% for participant in participants %}
                        <li>{{ participant.name }} - ${{ participant.expense }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if transactions is not none %}
            <div class="item">
                Total Expenses: <strong>${{ total_expense }}</strong><br>
                Fair Share: <strong>${{ fair_share }}</strong>
            </div>
            <div class="item">
                <h4>Transactions:</h4>
                <ul>
                    {% for transaction in transactions %}
                        <li>{{ transaction }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

  <script>
    function adjustWidth() {
      const app = document.getElementById('app');
      const screenWidth = window.innerWidth;

      if (screenWidth < 400) {
        app.style.width = '100%';  // Full width for screens less than 400px
      } else if (screenWidth >= 300 && screenWidth <= 1024) {
        app.style.width = '75%';   // 75% width for screens between 300px and 1024px
      } else {
        app.style.width = '50%';   // 50% width for screens greater than 1024px
      }
    }

    // Run the function on page load and on window resize
    window.onload = adjustWidth;
    window.onresize = adjustWidth;
  </script>

</body>
</html>